
*.pyc
*.pyc
*.pyc
*.pyc
/HistoRounds
*.png
data/cifar-10-python.tar.gz
data/cifar-10-batches-py/test_batch
data/cifar-10-batches-py/readme.html
data/cifar-10-batches-py/data_batch_2
data/cifar-10-batches-py/data_batch_4
/data
